aiohttp==3.8.3
async-timeout==4.0.2
attrs==20.3.0
cffi==1.15.1
chardet==4.0.0
cryptography==3.4.6
idna==3.1
ifaddr==0.2.0
multidict==5.1.0
netifaces==0.10.9
protobuf==4.21.12
pyatv==0.7.7
pycparser==2.20
six==1.15.0
srptools==1.0.1
typing-extensions==3.7.4.3
yarl==1.6.3
zeroconf==0.47.1
