aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
bitarray==2.7.4
certifi==2023.5.7
cffi==1.15.1
chacha20poly1305-reuseable==0.2.5
charset-normalizer==3.1.0
cryptography==41.0.1
frozenlist==1.3.3
idna==3.4
ifaddr==0.2.0
mediafile==0.11.0
miniaudio==1.59
multidict==6.0.4
mutagen==1.46.0
protobuf==4.23.2
pyatv==0.12.0
pycparser==2.21
requests==2.31.0
six==1.16.0
srptools==1.0.1
urllib3==2.0.3
yarl==1.9.2
zeroconf==0.79.0
